{% extends '::base.html.twig' %}
    {% block header %}
    {% endblock %}

{% block body %}

    <div class="row">

        <!--Grid column-->
        <div class="col-md-6 mb-4">


            </div>
            <!--/.Card-->

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-6 mb-4">

            <!--Card-->
            <div class="card card-cascade narrower">

                <!--Card image-->
                <div class="view view-cascade gradient-card-header peach-gradient">
                    <h5 class="mb-0">Locatia cherhanalei "La Motoaca"</h5>
                </div>
                <!--/Card image-->

                <!--Card content-->
                <div class="card-body card-body-cascade text-center">

                    <!--Google map-->
                    <div id="map-container-google-9" class="z-depth-1-half map-container-5" style="height: 300px">
                        <iframe src="https://maps.google.com/maps?q=Fetesti&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"
                                style="border:0" allowfullscreen></iframe>
                    </div>
                    <p><span><i class="fa fa-map-marker"></i> Fetesti, judetul Ialomita,
						 strada: Tudor Vladimirescu, nr.3 </span></p>

                    <p><i class="fa fa-phone"></i> +40 763677575</p>


                    <p><i class="fa fa-envelope"></i><a href="mailto:alex.motoaca@yahoo.com"> alex.motoaca@yahoo.com</a></p>


                </div>
                <!--/.Card content-->



            </div>
            <!--/.Card-->

        </div>
        <!--Grid column-->

    </div>
    <!--Grid row-->
{% endblock body %}