{% extends '::base.html.twig' %}


    {% block carousel %}
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="https://scontent.fotp3-1.fna.fbcdn.net/v/t1.0-9/91909800_107707567561846_2572120295687061504_o.jpg?_nc_cat=107&_nc_sid=6e5ad9&_nc_ohc=cVTVliKtsXUAX9mhFsu&_nc_ht=scontent.fotp3-1.fna&oh=5c50619fcab0b765a2a1253a11f59ae0&oe=5ECB0F56" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="https://scontent.fotp3-3.fna.fbcdn.net/v/t45.5328-0/s552x414/91891477_3151332554884977_6797324266099441664_n.jpg?_nc_cat=102&_nc_sid=c48759&_nc_ohc=tBv1B8cUZ6UAX8Xczfz&_nc_ht=scontent.fotp3-3.fna&_nc_tp=7&oh=ddb685a6f072ffcd4168d8ec3c433155&oe=5ECC2090" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="https://scontent.fotp3-3.fna.fbcdn.net/v/t45.5328-0/s552x414/91861660_2828619903918927_1007675769469534208_n.jpg?_nc_cat=104&_nc_sid=c48759&_nc_ohc=1UbjzbO_nakAX-PsRTl&_nc_ht=scontent.fotp3-3.fna&_nc_tp=7&oh=4147946debc40448b4c544fc4c6833c0&oe=5ECB80B6" class="d-block w-100" alt="...">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
    {% endblock%}